<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="author" value="Jonathan Germain"/>
      <add key="API_JIRA" value="https://jira.gismartware.com/rest/api/2/"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>